@font-face {
    font-family: "TTLakes";
    src: url(./fonts/TTLakes-Regular.woff) format("opentype");
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: "TTLakes"; 
}

body {
    font-family: "TTLakes", sans-serif;
    background-color: skyblue;
}

.main-page {
    display: grid;
    background-color:#F8F8F8;
    min-width: 320px;
}

.header {
    background-color: white;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__divider--left {
    display: none;
    margin-left: 20px;
}

.header-mid {
    display: none;
}

.header__divider--right {
    display: none;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.burger__icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.header__logo {
    width: 96.55px;
    height: 50.81px;
    margin-left: 20px;
}

.btn--text {
    display: flex;
    margin-right: 15px;
}

h2 {
    width: 304px;
    height: 40px;
    display: flex;
    align-items: center;
    line-height: 40px;
    font-size: 28px;
    letter-spacing: -0.6px;
    padding-bottom: 10;

}

.highlight__img {
    top: 112px;
    margin-right: 16px;
}

.nav {
  display: flex; 
  flex-flow: row wrap;
  margin-top: 20px;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 6px;
  overflow: visible hidden;
  align-items: center;
  color: #666;
}

.nav button {
    white-space: nowrap;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: #666;
    padding:8px 12px;
}

.nav .nav__button--active {
  border:2px solid #00d2b4;
  color: #666;
  border-radius: 6px;
  background-color: white;
  height: 40px;
}

.mb__text {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 0px 20px 10px 10px;
}

.pad__text {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px 20px 20px;
}

p {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-top: 20px;
}

.body__img {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    width: 100%;
    
}

.expand {
    display: flex;
    align-items: center;
}

.page-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.page-heading__icons {
    display: none;
}

.deks__text {
    display: none;
}

@media (min-width: 0px) and (max-width: 767px) {
    .nav {
        display: flex;
        max-width: 767px;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        overflow-x: auto;
    }
    .pad__text {
        display: none;
    }
}

@media (min-width:768px) and (max-width:1119px) {
    .body__img {
        display: flex;
        width: 400px;
    }

    .mb__text {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 10px 0px 10px;
        padding: 0px 20px 10px 10px;
    }

    .nav {
        display: flex;
        max-width: 1015px;
        max-height: 40px;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .content-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .content-container__text {
        flex:1;
    }
    
    .content-container__banner {
        flex:1;
        padding: 20px;
        text-align: right;
    }

    .header__divider--right {
        display: flex;
        justify-content: flex-end;
        margin: 0px 16px;
    }

    .header__divider--left {
        display: flex;
    }

    .header__divider--mid {
        display: none;
    }

    .header-mid {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        gap: 16px;
    }
}

@media (min-width:1120px) {
     .content-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .content-container__text {
        flex:1;
    }
    
    .content-container__banner {
        flex:1;
        padding: 20px;
        text-align: right;
    }

    .body__img {
        width: 560px;
    }

    .header {
        display: none;
    }

    .page-heading__icons {
        display: flex;
        align-items: center;
    }

    .pad__text {
        margin-left: 30px;
    }

    .deks__text {
        display: flex;
    }
}